<footer>
    <div class="footer-bottom">
        &copy; 2024 Rapibuss. Todos los derechos reservados.
      </div>
    <div class="footer-container">
      <div class="footer-section">
        <h3>Sobre Nosotros</h3>
        <p>Somos una empresa que busca tu seguridad al viajar.</p>
      </div>
      <div class="footer-section">
        <h3>Enlaces Útiles</h3>
        <ul>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Cursos</a></li>
          <li><a href="#">Contacto</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h3>Redes Sociales</h3>
        <ul class="social-links">
          <li><a href="#"><i class="fab fa-facebook"></i> Facebook</a></li>
          <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
          <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
        </ul>
      </div>
    </div>
    
  </footer>
  